## Problem 2: Points to map (7 points)

In this task, we continue to learn how to create geometries from latitude and longitude coordinates.

**Our aim is to plot a map of points, based on a set of longitude and latitude coordinates that are stored in a csv file.**

The input data is stored in the CSV spreadsheet `some_posts.csv` in the directory `data`. The coordinates stored there are in WGS84 format (decimal degrees, EPSG:4326), and the first few rows of data look like this:

```
lat,lon,timestamp,userid
-24.980792492,31.484633302,2015-07-07 03:02,66487960
-25.499224667,31.508905612,2015-07-07 03:18,65281761
-24.342578456,30.930866066,2015-03-07 03:38,90916112
-24.85461393,31.519718439,2015-10-07 05:04,37959089
```

The data has 81379 rows and consists of locations and times of de-identified social media posts inside Kruger national park in South Africa:

| Column | Description |
|--------|-------------|
| lat | y-coordinate of the post |
| lon | x-coordinate of the post |
| timestamp | Time when the post was uploaded |
| userid | unique id for each user|

*Note: Although the data is based on real social media data, the userids and timestamps have been randomized making it impossible to link the data to the original posts.*

### a) Read the CSV file

- Read the data from `some_posts.csv` into a Pandas dataframe called `data`

In [3]:
# ADD YOUR OWN CODE HERE
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/Automating-GIS-processes-2022/Exercise-2/main/data/some_posts.csv")

In [4]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION

# Check the result
print(f"Number of rows: {len(data)}")

Number of rows: 81379

### b) Add a geometry column and fill it with geometries

- Create an empty column called `geometry` where you will store shapely Point objects
- Insert Point objects into the column `geometry` based on the coordinate columns

You want to create a `shapely.geometry.Point` *for each row*, based on the columns `lon` and `lat`.
There are different approaches to this task, we encourage you to try to use the [`apply()` method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html) of the data frame, together with a *lambda function* (see the [**hints  for exercise 1**](https://autogis-site.readthedocs.io/en/latest/lessons/lesson-1/exercise-1.html), and the [**hints for this exercise**](https://autogis-site.readthedocs.io/en/latest/lessons/lesson-2/exercise-2.html))

In [5]:
data

             lat        lon         timestamp    userid
0     -24.980792  31.484633  2015-07-07 03:02  66487960
1     -25.499225  31.508906  2015-07-07 03:18  65281761
2     -24.342578  30.930866  2015-03-07 03:38  90916112
3     -24.854614  31.519718  2015-10-07 05:04  37959089
4     -24.921069  31.520836  2015-10-07 05:19  27793716
...          ...        ...               ...       ...
81374 -24.799541  31.354469  2015-09-05 02:23  90744213
81375 -25.467992  30.956033  2015-02-05 02:40  71109799
81376 -25.332223  30.997409  2015-08-05 02:40  54796261
81377 -25.508851  31.005536  2015-08-05 02:43  78762204
81378 -25.498840  31.007430  2015-04-05 02:44  32190273

[81379 rows x 4 columns]

In [6]:
# ADD YOUR OWN CODE HERE
import shapely

def create_point(data):
    for i, row in data.iterrows():
        point = shapely.geometry.Point(data["lat"], data["lon"])

In [ ]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION

# Check the result
print(data['geometry'].head())

### c) Convert the `pandas.DataFrame` into a `geopandas.GeoDataFrame`

- Convert `data` into a `geopandas.GeoDataFrame` using its [constructor](https://geopandas.org/reference/geopandas.GeoDataFrame.html). (*See [the hints for this exercise](https://autogis-site.readthedocs.io/en/latest/lessons/lesson-2/exercise-2.html) for additional instructions*)
- Make sure that the resulting `GeoDataFrame` has a coordinate reference system defined

In [ ]:
# ADD YOUR OWN CODE HERE

In [ ]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION
data

### d) Save the data in Shapefile format as `kruger_points.shp` inside the `data` directory

In [ ]:
# ADD YOUR OWN CODE HERE

In [ ]:
# NON-EDITABLE CODE CELL FOR TESTING YOUR SOLUTION

# Check that the output file exists
import pathlib
assert pathlib.Path(DATA_DIRECTORY / "kruger_points.shp").exists()

### e) Create a simple map of the points

In [ ]:
# ADD YOUR OWN CODE HERE


### *Optional:* Download the output shapefile and create a map using a Desktop GIS

For example, overlay the points with a basemap. Post the resulting map in the `#week2` slack channel.


---

### Great job!

You can move on to [Exercise-2-problem-3.ipynb](Exercise-2-problem-3.ipynb).